.fotoperfil {
    width: 200px;
    height: 200px;
    border-radius: 70%;    
}

#insta {
    width: 35px;
    height: auto;
}

#face{
   width: 35px;
   height: auto;
}

#lkdn{
    width: 35px;
    height: auto;
    border-radius: 70%;
}